/*  All Products */

.row-2 {
    justify-content: space-between;
    margin: 100px auto 50px;
}

select {
    border: 1px solid #020202;
    padding: 5px
}

select:focus{
    outline: none;
}

.page-btn {
 margin: 0 auto 80px;   
}

.page-btn span {
    display: inline-block;
    border: 1 solid #da9d0f;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.page-btn span:hover {
    background: #da9d0f;
    color: #fff;
}

/* The PPD page */

.single-product {
    margin-top: 80px;

}

.single-product .col-2 img {
    padding: 0;
}

.single-product .col-2 {
   padding: 30px;  
}

.single-product h4 {
margin: 20px 0;
font-size: 22px;
font-weight: bold;
}

.single-product select {
    display: block;
    padding: 10px;
    margin-top: 20px;
}

.single-product input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #000000;
}

input:focus {
    outline: none;
}

.small-img-row {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 32%;
    cursor: pointer;
}



/* cart items */

.cart-page {
    margin: 80px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
}

th{
    text-align: left;
   padding: 5px;
   color: #fff; 
   background: #da9d0f;
   font-weight: normal;
}

td{
    padding: 10px 5px;
}

td input {
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a {
    color: #da9d0f;
    font-size: 12px;
}

td img {
    width: 90px;
    height: 90px;
    margin-right: 10px;
}

.total-price {
    display: flex;
    justify-content: flex-end;
}

.total-price table {
border-top: 3px solid #da9d0f;
width: 100%;
max-width: 300px;
}

td:last-child {
    text-align: right;
}

th:last-child {
    text-align: right;
}